@model Home

@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="d-lg-inline-block text-center">
    <h1 class="display-4">Eco school Tecnologia</h1>
    <p>Amplie seus conhecimentos com nossos cursos</p>


<br />

  <div class="d-inline-block ">

    <div class="text-center, d-inline-block">

        <div class="card" style="width: 18rem;">
            <div>  <img class="img-fluid" style="width:100px; padding-top:10px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/200px-HTML5_logo_and_wordmark.svg.png" alt="Alternate Text" /> </div>
            <div class="card-body">
                <h5 class="card-title">HTML5 do básico ao Avançado</h5>
                <p class="card-text">Aprimore seu conhecimento com HTML e desenvolva conteúdos de forma excepcional.</p>
                <a class="btn btn-primary" asp-controller="Cliente" asp-action="Create">Cadastrar</a>
            </div>
        </div>


    </div>

    <div class="text-center, d-inline-block" style="padding:20px">

        <div class="card" style="width: 18rem;">
            <div>  <img class="img-fluid" style="width:70px; padding-top:10px" src="https://wikiimg.tojsiabtv.com/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" alt="Alternate Text" /> </div>
            <div class="card-body">
                <h5 class="card-title">CSS do básico ao Avançado</h5>
                <p class="card-text">Aprimore seu conhecimento com CSS e desenvolva conteúdos de forma excepcional.</p>
                <a class="btn btn-primary" asp-controller="Cliente" asp-action="Create">Cadastrar</a>
            </div>
        </div>


    </div>

    <div class="text-center, d-inline-block">

        <div class="card" style="width: 18rem;">
            <div>  <img class="img-fluid" style="width: 100px; padding-top: 10px" src="https://digitalents.com.br/wp-content/uploads/2016/03/js-logo-300x300.png" alt="Alternate Text" /> </div>
            <div class="card-body">
                <h5 class="card-title">Java Script do básico ao Avançado</h5>
                <p class="card-text">Aprimore seu conhecimento com Js e desenvolva conteúdos de forma excepcional.</p>
                <a class="btn btn-primary" asp-controller="Cliente" asp-action="Create">Cadastrar</a>
            </div>
        </div>


    </div>

    <div class="text-center, d-inline-block">

        <div class="card" style="width: 18rem;">
            <div>  <img class="img-fluid" style="width: 190px; padding-top: 10px" src="https://www.avenga.com/wp-content/uploads/2020/11/C-Sharp.png" alt="Alternate Text" /> </div>
            <div class="card-body">
                <h5 class="card-title">C# do básico ao Avançado</h5>
                <p class="card-text">Aprimore seu conhecimento com C# e desenvolva conteúdos de forma excepcional.</p>
                <a class="btn btn-primary" asp-controller="Cliente" asp-action="Create">Cadastrar</a>
            </div>
        </div>


    </div>

    <div class="text-center, d-inline-block" style="padding:20px">

        <div class="card" style="width: 18rem;">
            <div>  <img class="img-fluid" style="width: 140px; padding-top: 10px" src="https://madriproducoes.com.br/portal/images/artigos/artigo-27.png" alt="Alternate Text" /> </div>
            <div class="card-body">
                <h5 class="card-title">MySql do básico ao Avançado</h5>
                <p class="card-text">Aprimore seu conhecimento com MySql e desenvolva conteúdos de forma excepcional.</p>
                <a class="btn btn-primary" asp-controller="Cliente" asp-action="Create">Cadastrar</a>
            </div>
        </div>


    </div>

    <div class="text-center, d-inline-block">

        <div class="card" style="width: 18rem;">
            <div>  <img class="img-fluid" style="width: 100px; padding-top: 10px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/2048px-.NET_Core_Logo.svg.png" alt="Alternate Text" /> </div>
            <div class="card-body">
                <h5 class="card-title">.Net Core do básico ao Avançado</h5>
                <p class="card-text">Aprimore seu conhecimento com .Net Core e desenvolva conteúdos de forma excepcional.</p>
                <a class="btn btn-primary" asp-controller="Cliente" asp-action="Create">Cadastrar</a>
            </div>
        </div>


    </div>

    





</div>



